*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.kapsayan{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 800px;
  margin: 3rem auto;
  text-align: center;

  
}
.card{
width: 16rem;
text-align: center;
border: 2px solid red;

}
.form{
  text-align: center;
}