*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.kapsayan{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.card{
width: 12rem;
text-align: center;
border: 2px solid red;
margin: 2rem auto;
}
.form{
  text-align: center;
}