* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
  font-size: 1.6rem;
 
 
 
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 800;
  margin: 5rem auto;
}
.cardd{
border: 2px solid black;
width: 15rem;
border-radius: 10px;
font-weight: bold;
font-size: 2rem;
align-items: center;
text-align: center;
padding: 1rem;
cursor: pointer;


}

.form {
  text-align: center;
  margin: 2rem auto;
  width: 50%;
  margin: 2rem auto;
  border-radius: 70%;
}
